[ssh]
user=jbonaiuto
host=fortressofjollitude.zapto.org
data_server=fortressofjollitude.zapto.org
port=122
log_dir=/data/ezrcluster/data/logs
output_dir=/data/ezrcluster/data/output

[mq]
host=fortressofjollitude.zapto.org
job_queue=ezrcluster_jobs
