[ssh]
user=jbonaiuto
host=tarsier.broadmonk.caltech.edu
data_server=mri-nas1
log_dir=/D:/data/ezrcluster/logs
output_dir=/D:/data/ezrcluster/output

[mq]
host=tarsier.broadmonk.caltech.edu
job_queue=ezrcluster_jobs
